#form-team {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border: none;
  background-color: aquamarine;
  cursor: pointer;
  margin: auto;
  margin-top: 10px;
  margin-left: 8px;
  &:disabled {
    cursor: not-allowed;
  }
}

.home-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .information {
    width: 50%;

    .info-box {
      width: 98%;
      margin-right: 2%;
      min-width: 400px;
      height: calc(100vh - 150px);
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      color: white;
      padding: 40px 40px;
      background: #076585;
      background-color: linear-gradient(#076585, #fff);
      border-radius: 10px;
      font-size: 24px;
      line-height: 30px;
      font-weight: 600;

      .title {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
      }
    }
  }
  .form-input {
    width: 50%;
    min-width: 500px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;

    height: 100%;
    display: inline-block;

    h2 {
      text-align: center;
    }
    .form-element {
      padding-left: 25%;
      width: 100%;
    }
  }
}
.error input[type="number"] {
  background-color: #fce4e4;
  border: 1px solid #cc0033;
  outline: none;
}
.error-message {
  color: #cc0033;
}

.error label {
  color: #cc0033;
}
@media screen and (max-width: 900px) {
  .home-main {
    .information {
      display: none;
    }
  }
}
