.win-icon {
  height: 80px;
  position: relative;
  .dice-icon {
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .trophy-icon {
    font-size: 80px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
