$primary-color: #dc1fff;
$success-color: #01f39d;

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.dice {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background-color: aquamarine;
  color: black;
  font-weight: 900;
}
.display-players-body {
  width: 100%;
  height: calc(100vh - 100px);
}
.leader-board-table {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: padding-box;
}

.footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0%);
  button {
    border-radius: 5px;
    padding: 4px 10px;
    background-color: aquamarine;
    color: black;
    font-weight: 900;
    cursor: pointer;
  }
}

.rank-trophy {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.rank-text {
  position: absolute;
  top: 20%;
}

.rank-icon {
  height: 50px;
  position: relative;

  .rank-text {
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .trophy {
    font-size: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}

.ongoing-game-info-main {
  height: 80vh;
  max-height: 400px;
  width: 100%;
  min-width: 400px;
  border-radius: 5px;
  padding: 5%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
  position: relative;
  margin-bottom: 20px;
  h2 {
    text-align: center;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
  }
}

#start-match {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border: none;
  background-color: aquamarine;
  cursor: pointer;
  margin: auto;
  position: sticky;
  top: 10px;
  left: 50%;
  z-index: 100;
  &:disabled {
    cursor: not-allowed;
  }
}
